{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card-login mx-auto">
            <div class="card-body">

            <h5 class="text-center">Account Login</h5>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <div class="container" style="width: 234px;">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password|as_crispy_field }}</td>
                        </tr>
                    </table>
                    <input class="btn btn-hannah-login" type="submit" value="Login"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
