body {
    background-color: #eaeaea;
}
nav {
    background-color: #eaeaea;
}
h1, h2 {
    color: #55C696;
}

tbody select {
    background-color: #eaeaea;
    color: #444545;
}

tbody input {
    background-color: #eaeaea;
    color: #444545;
}

.table {
  table-layout: fixed;
  width: 90%;
}

.container-fluid {
    width: 90%;
    margin-top: 50px;
}
#save-button {
    /*background-color: #55C696;*/
}
.asteriskField {
    display: none;
}

.month-select {
    display: flex;
}

.month-select div {
    padding-right: 5px;
}

.btn-hannah {
    color: #fff;
    background-color: #55C696;
    border-color: #55C696;
}
.btn-hannah:hover {
    background-color: #2FAE78;
}
.btn-hannah:focus{
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(47,174,120,.25);
}
.btn-hannah-login {
    color: #fff;
    background-color: #55C696;
    border-color: #55C696;
    width: 100%;
}
.planned {
    background-color: #b8daff;
}
.actual {
    background-color: #55c696;
}
.chart {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;

}
.chart-container {
    width: 100%;
    background-color: #dddddd;
    margin-bottom: 15px;
    /*box-shadow: 1px 1px 2px #444545;*/
}
.card-body {
    padding: 2rem;
}
.card-login {
    background-color: #d7d7d7;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.greeting {
    color: #55C696;
    margin-right: 5px;
}