<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Hannah Budget</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'budget/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'budget/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'budget/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'budget/favicon-32x32.png' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'dashboard_view' %}"><h1>Hannah Budget</h1></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard_view' %}">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'select_view' %}">Transactions</a></li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="navbar-text"><span class="greeting">Hello, {{ user|title }}!</span></li>
            <li class="nav-item"><a class="nav-link" href="/admin/" target="_blank">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" target="_blank">Logout</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
<main>
    <div class="container-fluid">
        {% block sidebar %}<!-- insert default navigation text for every page --> {% endblock %}
        {% block content %}<!-- default content text (typically empty) --> {% endblock %}
    </div>
</main>
</body>
</html>
