{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load abs %}

{% block content %}

<div class="container">
  <div class="row">
    <form method="get">
      <div class="month-select">
        <div>{{ form.month|as_crispy_field }}</div>
        <div>{{ form.year|as_crispy_field }}</div>
        <div><input class="btn btn-hannah" type="submit" value="Submit"></div>
      </div>
    </form>
  </div>
  <!-- Expense Column -->
  <div class="row">
    <div class="col-md">
      <h2>Expenses</h2>
      <div class="row">
          <div class="col-md-2">Planned</div>
          <div class="col-md-2" style="text-align: right;">${{ totals.total_expense_planned|intcomma|default_if_none:'0' }}</div>
          <div class="col-md-8">
            <div class="chart-container">
              <div class="chart expense planned" style="width: {{ totals.expense_chart.planned }}"></div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">Actual</div>
          <div class="col-md-2" style="text-align: right;">${{ totals.total_expense_actual|default_if_none:"0"|intcomma}}</div>
          <div class="col-md-8">
            <div class="chart-container">
              <div class="chart expense actual" style="width: {{ totals.expense_chart.actual }}"></div>
            </div>
          </div>
      </div>
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Planned</th>
            <th scope="col">Actual</th>
            <th scope="col">Diff</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary">
            <td>Totals</td>
            <td>${{ totals.total_expense_planned|default_if_none:'0'|intcomma }}</td>
          <td>${{ totals.total_expense_actual|default_if_none:'0'|intcomma }}</td>
            <td>${{ totals.total_expense_diff }}</td>
          </tr>
          {% for transaction in expense_transactions %}
            <tr>
              <td>{{ transaction.label }}</td>
              <td>${{ transaction.planned_amount|intcomma }}</td>
              <td>${{ transaction.actual_amount|intcomma }}</td>

              {% if transaction.diff < 0 %}
                <td style="color: red;">-${{ transaction.diff|abs|intcomma }}</td>
              {% else %}
                <td>+${{ transaction.diff|intcomma }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Income Column -->
    <div class="col-md">
      <h2>Income</h2>
      <div class="row">
          <div class="col-md-2">Planned</div>
          <div class="col-md-2" style="text-align: right;">${{ totals.total_income_planned|default_if_none:'0'|intcomma }}</div>
          <div class="col-md-8">
            <div class="chart-container">
              <div class="chart expense planned" style="width: {{ totals.income_chart.planned }};"></div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">Actual</div>
          <div class="col-md-2" style="text-align: right;">${{ totals.total_income_actual|default_if_none:'0'|intcomma }}</div>
          <div class="col-md-8">
            <div class="chart-container">
              <div class="chart income actual" style="width: {{ totals.income_chart.actual }}"></div>
            </div>
          </div>
      </div>
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Planned</th>
            <th scope="col">Actual</th>
            <th scope="col">Diff</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary">
            <td>Totals</td>
            <td>${{ totals.total_income_planned|default_if_none:'0'|intcomma }}</td>
            <td>${{ totals.total_income_actual|default_if_none:'0'|intcomma }}</td>
            <td>${{ totals.total_income_diff }}</td>
          </tr>
          {% for transaction in income_transactions %}
            <tr>
              <td>{{ transaction.label }}</td>
              <td>${{ transaction.planned_amount|intcomma }}</td>
              <td>${{ transaction.actual_amount|intcomma }}</td>
              {% if transaction.actual_amount < transaction.planned_amount %}
                <td style="color: red;">-${{ transaction.diff|abs|intcomma }}</td>
              {% else %}
                <td>+${{ transaction.diff|abs|intcomma }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}