{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-md-10">
            {% crispy formset helper %}
        </div>
        <div class="col-md-2">
            <div class="filter-list">
                <h3 class="greeting">FILTER</h3>
                <ul class="list-group">
                    <li class="list-group-item">By category</li>
                    <li class="list-group-item list-group-item-action"><a href="?">All</a></li>
                    <li class="list-group-item list-group-item-action"><a href="?category__isnull=True">Is null</a></li>
                </ul>
            </div>
        </div
      </div>
  </div>
{% endblock %}
