{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md">
        <p>Filter by expense.</p>
        <form method="get" action="{% url 'expense_transactions_view' %}">
          <div class="month-select">
            {{ expense_form|crispy }}
            <div><input class="btn btn-hannah" type="submit" value="Submit"></div>
          </div>
        </form>
      </div>
      <div class="col-md">
        <p>Filter by income.</p>
        <form method="get" action="{% url 'income_transactions_view' %}">
          <div class="month-select">
            {{ income_form|crispy }}
            <div><input class="btn btn-hannah" type="submit" value="Submit"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
